<div id="about">
	<div class="wrap">
		<div class="clearfix">
			<div>
				<a href="/"><h1>chide.it</h1></a>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/aydin.jpg'>
				</div>
		
				<div class="right">
					<h2>Aydin Mirzaee</h2>
		
					<div class="title">
						Co-Chief Executive Officer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/eli.jpg'>
				</div>
		
				<div class="right">
					<h2>Eli Fathi</h2>
		
					<div class="title">
						Co-Chief Executive Officer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/rich.jpg'>
				</div>
		
				<div class="right">
					<h2>Rich Fialkoff</h2>
		
					<div class="title">
						Sales
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/amin.jpg'>
				</div>
		
				<div class="right">
					<h2>Amin Mirzaee</h2>
		
					<div class="title">
						Lead Developer (FluidSurveys)
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/sam.jpg'>
				</div>
		
				<div class="right">
					<h2>Samuel Cormier-Iijima</h2>
		
					<div class="title">
						Software Developer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/ross.jpg'>
				</div>
		
				<div class="right">
					<h2>Ross May</h2>
		
					<div class="title">
						Infrastructure
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/nate.jpg'>
				</div>
		
				<div class="right">
					<h2>Nate Beacham</h2>
		
					<div class="title">
						Lead Developer (ReviewRoom)
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/matt.jpg'>
				</div>
		
				<div class="right">
					<h2>Matthew Dennis</h2>
		
					<div class="title">
						Software Developer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/rafal.jpg'>
				</div>
		
				<div class="right">
					<h2>Rafal Deren</h2>
		
					<div class="title">
						Senior Accounts Manager
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/justine.jpg'>
				</div>
		
				<div class="right">
					<h2>Justine Lacroix</h2>
		
					<div class="title">
						Accounts
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/alfred.jpg'>
				</div>
		
				<div class="right">
					<h2>Alfred Markut</h2>
		
					<div class="title">
						Technical Support
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/mac.jpg'>
				</div>
		
				<div class="right">
					<h2>MacKenzie MacIntosh</h2>
		
					<div class="title">
						Accounts
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/grant.jpg'>
				</div>
		
				<div class="right">
					<h2>Grant McNeil</h2>
		
					<div class="title">
						Software Developer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div class="bio">
				<div class="left">
					<img class="mugshot" src='/media/img/steve.jpg'>
				</div>
		
				<div class="right">
					<h2>Steve Hiemstra</h2>
		
					<div class="title">
						Software Developer
					</div>
		
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue scelerisque magna, quis vulputate elit eleifend sagittis. Nam porttitor, lectus ac elementum suscipit, mi libero pharetra urna, et congue orci lorem vitae sem. Sed id nunc at metus adipiscing adipiscing. Nam imperdiet risus quis dolor varius ornare. Mauris ante massa, hendrerit eu vestibulum eu, condimentum et urna
					</div>
				</div>
			</div>
			
			<div style="clear: both;"></div>
		</div>
	</div>
</div>