<!DOCTYPE html>
<html>
	<head>
		<title>Chide.it | Go Paperless!</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="/media/js/underscore.js"></script>
		<script type="text/javascript" src="/media/js/backbone.js"></script>
		<script type="text/javascript" src="/media/js/chide.js"></script>
				
		<link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two|Ubuntu&v2' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/media/css/chide.css" />
	</head>
	
	<body>
		<div id="content"></div>
		
		<div id="footer">
			<div>
				On the web: <a href="http://fluidsurveys.com">FluidSurveys</a> <a href="http://myreviewroom.com">ReviewRoom</a>
			</div>
			
			<div>
				FluidSurveys in: <a href="http://fluidsurveys.si">Slovénski</a> <a href="http://fluidsurveys.se">Svenska</a> <a href="http://fluidsurveys.no">Norske</a> <a href="http://encuestas.fluidsurveys.com/">Español</a>				
			</div>
			
			<div>
				<a href="/contact/">Contact Us</a>
			</div>
		</div>
	</body>	
</html>
