<!DOCTYPE html>
<html>
	<head>
		<title>Chide.it | Go Paperless!</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="/media/js/underscore.js"></script>
		<script type="text/javascript" src="/media/js/backbone.js"></script>
		<script type="text/javascript" src="/media/js/chide.js"></script>

		<script type="text/javascript" src="http://use.typekit.com/tug6knt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
				
		<link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/chide.css" />
		
		<meta name="description" content="Chide.it is a new-age internet software company focused on empowering feedback. The company's products include FluidSurveys, ReviewRoom, and FluidReview." />
		<meta name="keywords" content="Chide.it, ReviewRoom, FluidReview, FluidSurveys, Empowering Feedback, Chideit" />
	</head>
	
	<body>
		<div id="content"></div>
		
		<div id="footer">
			<div>
				On the web: <a title="Online Survey Software at its Best" target="_blank" href="http://fluidsurveys.com">FluidSurveys</a> - <a target="_blank" title="Application & Submission Management Made Easy" href="http://myreviewroom.com">ReviewRoom</a>
			</div>
			
			<div>
				FluidSurveys in: <a target="_blank" href="http://fluidsurveys.si">Slovenski</a> - <a target="_blank" href="http://fluidsurveys.se">Svenska</a> - <a target="_blank" href="http://fluidsurveys.no">Norske</a> - <a target="_blank" href="http://encuestas.fluidsurveys.com/">Español</a>				
			</div>
			
			<div>
				<a href="#!/contact/">Contact Us</a>
			</div>
			
			<br>
			
			<div>
				&copy; Chide.it {% now "Y" %}. All rights reserved.
			</div>
		</div>
	</body>	
</html>
