<div id="contact">
	<div class="wrap">
		<a class="back-link home" title="home" href="#!/"></a>
		<a class="forward-link about" title="About Us" href="#!/about/"></a>
		
		<h1>Contact Us</h1>

		<h3>By Email</h3>
		
		<p>
			Email is our preferred means of communication. Please contact us using one of the addresses below and we will get back to you as soon as possible.
		</p>
		
		<table class="contact">
			<tr>
				<td>Support Requests</td>
				<td><a href="mailto:support@chide.it">support@chide.it</a></td>
			</tr>
			
			<tr>
				<td>Sales Info</td>
				<td><a href="mailto:sales@chide.it">sales@chide.it</a></td>
			</tr>
			
			<tr>
				<td>General Information</td>
				<td><a href="mailto:info@chide.it">info@chide.it</a></td>
			</tr>
			
			<tr>
				<td>Public Relations</td>
				<td><a href="mailto:pr@chide.it">pr@chide.it</a></td>
			</tr>
		</table>
		
		<h3>By Snail Mail</h3>

		<p>
			If you'd like to send us snail mail, you can also do that using our following office addresses:
		</p>

		<table class="contact">
			<tr>
				<td>United States</td>
				<td>Canada</td>
			</tr>
			
			<tr>
				<td>
					<div class="address">
						Chide.it Inc.<br>
						1203 Geiger Ln. - Suite 100<br>
						Bridgewater, NJ - 08807
					</div>
				</td>

				<td>
					<div class="address">
						Chide.it Inc.<br>
						1729 Bank Street - Suite 200<br>
						Ottawa, ON, K1V	7Z5, Canada
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>