<div id="chide">
	<div class="wrap">
		<a class="back-link about" title="About Us" href="#!/about/"></a>
		<a class="forward-link contact"  title="Contact Us" href="#!/contact/"></a>
		
		<h1>Chide.it</h1>
		
		<div class="info">
			Hi, we're Chide.it and we develop web apps that help your organization <span class="motto">Go Paperless</span>. You can check out our products, <a target="_blank" href="http://fluidsurveys.com">FluidSurveys</a> and <a target="_blank" href="http://myreviewroom.com">ReviewRoom</a> and meet us <a href="#!/about/">here</a>.
		</div>
	</div>
</div>